*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand a{
  text-decoration: none;
  color: black;
}

.content-row{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.content-row div{
  margin-bottom: 12px;
}

.card{
  background-color: grey;
  padding: 12px;
}
.card-header h3{
  text-align: center;
}